* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(217, 249, 247);
}

#questionBox {
    width: 700px;
    height: auto;
    padding: 34px 54px 10px 20px;
    margin:  50px auto;
    box-shadow: 15px 15px 25px -.8rem black;
    /* place-items: center; */
    border-radius: 1rem;
}

h2{
    font-size: 2.5rem;
    margin: 23px auto 23px auto;
    text-align: center;
}
ul li{
    list-style: none;
    font-size: 1.4rem;
    margin: 10px 0;
}

button{
    border: none;
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 8px;
    width: 10vw;
    background-color: rgb(145, 145, 227);
    margin: 14px auto 13px auto;
}

button:hover{
    background-color: rgb(125, 125, 252);
}

.resultArea{
    display: none;
}
#result{
    margin: 29px auto;
    border: 1px solid grey;
    width: 35vw;
    height: auto;
    border-radius: 25px;
    background-color: rgb(239, 235, 235);    
    transform: translate(15px ,15px);
}
#playAgain{
    width: 170px;
    background-color: rgb(202, 249, 131);
    border: 1px solid black;
}


